@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* .typing::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  overflow: hidden;
  animation: blink-caret 0.8s step-end infinite;
} */

@keyframes blink-caret {
  0%,
  75% {
    border-color: transparent;
  }

  76%,
  100% {
    border-color: #4fc3f7;
  }
}

.typing {
  position: relative;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #3333);
}

.typing h2 {
  position: relative;
  color: #4fc3f7;
  letter-spacing: 5px;
  font-size: 4rem;
  overflow: hidden;
  margin-bottom: 0;
  border-right: 2px solid #4fc3f7;
  animation: type 5s steps(11) infinite, blink-caret 0.8s step-end infinite;
}

@keyframes type {
  0%,
  100% {
    width: 0px;
  }

  30%,
  60% {
    width: 100%;
  }
}

@media (max-width: 330px) {
  .typing h2 {
    font-size: 3rem;
    animation: type 5s steps(10) infinite;
  }

  @keyframes type {
    0%,
    100% {
      width: 0px;
    }

    30%,
    60% {
      width: 100%;
    }
  }
}
