.u-section-1 .u-sheet-1 {
  min-height: 1214px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-family: "Abril Fatface";
  margin: 72px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 40px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 25% 25% 25% 25%;
  min-height: 2766px;
  grid-gap: 0px 0px;
}

.u-section-1 .u-image-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("https://assets.nicepagecdn.com/6a67b4d8/5263142/images/Picsart_23-06-28_11-55-37-977.jpg");
  background-position: 0% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 8px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 19px;
  min-width: 16px;
  margin: 378px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-image-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("https://assets.nicepagecdn.com/6a67b4d8/5263142/images/Picsart_23-06-28_11-58-44-684.jpg");
  background-position: 30.17% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 8px 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.u-section-1 .u-social-icons-2 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 19px;
  min-width: 16px;
  margin: 378px auto 0;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-image-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("https://assets.nicepagecdn.com/6a67b4d8/5263142/images/Picsart_23-06-28_12-18-17-092.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 8px 0 0;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.u-section-1 .u-social-icons-3 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 19px;
  min-width: 16px;
  margin: 378px auto 0;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-image-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("https://assets.nicepagecdn.com/6a67b4d8/5263142/images/Picsart_23-06-28_12-22-14-368.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-8 {
  font-size: 1.25rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 8px 0 0;
}

.u-section-1 .u-text-9 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.u-section-1 .u-social-icons-4 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 19px;
  min-width: 16px;
  margin: 378px auto 0;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-image-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("https://assets.nicepagecdn.com/6a67b4d8/5263142/images/Picsart_23-06-28_12-29-56-229.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-10 {
  font-size: 1.25rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 8px 0 0;
}

.u-section-1 .u-text-11 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.u-section-1 .u-social-icons-5 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 19px;
  min-width: 16px;
  margin: 378px auto 0;
}

.u-section-1 .u-icon-5 {
  height: 100%;
}

.u-section-1 .u-image-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("https://assets.nicepagecdn.com/6a67b4d8/5263142/images/Picsart_23-06-28_12-38-39-588.jpg");
  background-position: 84.51% 50%;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-12 {
  font-size: 1.25rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 8px 0 0;
}

.u-section-1 .u-text-13 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.u-section-1 .u-social-icons-6 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 19px;
  min-width: 16px;
  margin: 378px auto 0;
}

.u-section-1 .u-icon-6 {
  height: 100%;
}

.u-section-1 .u-image-7 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("https://assets.nicepagecdn.com/6a67b4d8/5263142/images/Picsart_23-06-28_12-39-59-060.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-text-14 {
  font-size: 1.25rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 8px 0 0;
}

.u-section-1 .u-text-15 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.u-section-1 .u-social-icons-7 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 19px;
  min-width: 16px;
  margin: 378px auto 0;
}

.u-section-1 .u-icon-7 {
  height: 100%;
}

.u-section-1 .u-image-8 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("https://assets.nicepagecdn.com/6a67b4d8/5263142/images/Picsart_23-06-28_12-41-03-785.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-text-16 {
  font-size: 1.25rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 8px 0 0;
}

.u-section-1 .u-text-17 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.u-section-1 .u-social-icons-8 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 19px;
  min-width: 16px;
  margin: 378px auto 0;
}

.u-section-1 .u-icon-8 {
  height: 100%;
}

.u-section-1 .u-image-9 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("https://assets.nicepagecdn.com/6a67b4d8/5263142/images/Picsart_23-06-28_11-49-27-133.jpg");
  background-position: 0% 50%;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-text-18 {
  font-size: 1.25rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  text-shadow: 0px 0px 8px rgba(128,128,128,1);
  margin: 8px 0 0;
}

.u-section-1 .u-text-19 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.u-section-1 .u-social-icons-9 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 19px;
  min-width: 16px;
  margin: 378px auto 0;
}

.u-section-1 .u-icon-9 {
  height: 100%;
}

.u-section-1 .u-image-10 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("https://assets.nicepagecdn.com/6a67b4d8/5263142/images/Picsart_23-06-28_12-03-25-315.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px;
}

.u-section-1 .u-text-20 {
  font-size: 1.25rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 8px 0 0;
}

.u-section-1 .u-text-21 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.u-section-1 .u-social-icons-10 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 19px;
  min-width: 16px;
  margin: 378px auto 0;
}

.u-section-1 .u-icon-10 {
  height: 100%;
}

.u-section-1 .u-image-11 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("https://assets.nicepagecdn.com/6a67b4d8/5263142/images/Picsart_23-06-28_12-57-10-704.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px;
}

.u-section-1 .u-text-22 {
  font-size: 1.25rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 8px 0 0;
}

.u-section-1 .u-text-23 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.u-section-1 .u-social-icons-11 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 19px;
  min-width: 16px;
  margin: 378px auto 0;
}

.u-section-1 .u-icon-11 {
  height: 100%;
}

.u-section-1 .u-image-12 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("https://assets.nicepagecdn.com/6a67b4d8/5263142/images/Picsart_23-06-28_12-47-07-923.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px;
}

.u-section-1 .u-text-24 {
  font-size: 1.25rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 8px 0 0;
}

.u-section-1 .u-text-25 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.u-section-1 .u-social-icons-12 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 19px;
  min-width: 16px;
  margin: 378px auto 0;
}

.u-section-1 .u-icon-12 {
  height: 100%;
}

.u-section-1 .u-image-13 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("https://assets.nicepagecdn.com/6a67b4d8/5263142/images/Picsart_23-06-28_13-04-36-265.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-13 {
  padding: 30px;
}

.u-section-1 .u-text-26 {
  font-size: 1.1875rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 8px 0 0;
}

.u-section-1 .u-text-27 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.u-section-1 .u-social-icons-13 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 19px;
  min-width: 16px;
  margin: 378px auto 0;
}

.u-section-1 .u-icon-13 {
  height: 100%;
}

.u-section-1 .u-image-14 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("https://assets.nicepagecdn.com/6a67b4d8/5263142/images/Picsart_23-06-28_13-01-32-042.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-14 {
  padding: 30px;
}

.u-section-1 .u-text-28 {
  font-size: 1.25rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 8px 0 0;
}

.u-section-1 .u-text-29 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.u-section-1 .u-social-icons-14 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 19px;
  min-width: 16px;
  margin: 378px auto 0;
}

.u-section-1 .u-icon-14 {
  height: 100%;
}

.u-section-1 .u-image-15 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("https://assets.nicepagecdn.com/6a67b4d8/5263142/images/Picsart_23-06-28_13-11-50-344.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-15 {
  padding: 30px;
}

.u-section-1 .u-text-30 {
  font-size: 1.25rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 8px 0 0;
}

.u-section-1 .u-text-31 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.u-section-1 .u-social-icons-15 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 19px;
  min-width: 16px;
  margin: 378px auto 0;
}

.u-section-1 .u-icon-15 {
  height: 100%;
}

.u-section-1 .u-image-16 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("https://assets.nicepagecdn.com/6a67b4d8/5263142/images/Picsart_23-06-28_12-02-22-131.jpg");
  background-position: 46.78% 50%;
}

.u-section-1 .u-container-layout-16 {
  padding: 30px;
}

.u-section-1 .u-text-32 {
  font-size: 1.25rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 8px 0 0;
}

.u-section-1 .u-text-33 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.u-section-1 .u-social-icons-16 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 19px;
  min-width: 16px;
  margin: 378px auto 0;
}

.u-section-1 .u-icon-16 {
  height: 100%;
}

.u-section-1 .u-image-17 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("https://assets.nicepagecdn.com/6a67b4d8/5263142/images/Picsart_23-06-28_13-12-31-644.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-17 {
  padding: 30px;
}

.u-section-1 .u-text-34 {
  font-size: 1.25rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 8px 0 0;
}

.u-section-1 .u-text-35 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.u-section-1 .u-social-icons-17 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 19px;
  min-width: 16px;
  margin: 378px auto 0;
}

.u-section-1 .u-icon-17 {
  height: 100%;
}

.u-section-1 .u-image-18 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("https://assets.nicepagecdn.com/6a67b4d8/5263142/images/Picsart_23-06-28_13-21-24-961.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-18 {
  padding: 30px;
}

.u-section-1 .u-text-36 {
  font-size: 1.25rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 8px 0 0;
}

.u-section-1 .u-text-37 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.u-section-1 .u-social-icons-18 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 19px;
  min-width: 16px;
  margin: 378px auto 0;
}

.u-section-1 .u-icon-18 {
  height: 100%;
}

.u-section-1 .u-image-19 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("https://assets.nicepagecdn.com/6a67b4d8/5263142/images/Picsart_23-06-28_13-18-28-877.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-19 {
  padding: 30px;
}

.u-section-1 .u-text-38 {
  font-size: 1.25rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 8px 0 0;
}

.u-section-1 .u-text-39 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.u-section-1 .u-social-icons-19 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 19px;
  min-width: 16px;
  margin: 378px auto 0;
}

.u-section-1 .u-icon-19 {
  height: 100%;
}

.u-section-1 .u-image-20 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("https://assets.nicepagecdn.com/6a67b4d8/5263142/images/Picsart_23-06-28_13-21-50-378.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-20 {
  padding: 30px;
}

.u-section-1 .u-text-40 {
  font-size: 1.25rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 8px 0 0;
}

.u-section-1 .u-text-41 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.u-section-1 .u-social-icons-20 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 19px;
  min-width: 16px;
  margin: 378px auto 0;
}

.u-section-1 .u-icon-20 {
  height: 100%;
}

.u-section-1 .u-image-21 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("https://assets.nicepagecdn.com/6a67b4d8/5263142/images/Picsart_23-06-28_13-24-00-362.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-21 {
  padding: 30px;
}

.u-section-1 .u-text-42 {
  font-size: 1.25rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 8px 0 0;
}

.u-section-1 .u-text-43 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.u-section-1 .u-social-icons-21 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 19px;
  min-width: 16px;
  margin: 378px auto 0;
}

.u-section-1 .u-icon-21 {
  height: 100%;
}

.u-section-1 .u-image-22 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("https://assets.nicepagecdn.com/6a67b4d8/5263142/images/Picsart_23-06-28_13-24-44-952.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-22 {
  padding: 30px;
}

.u-section-1 .u-text-44 {
  font-size: 1.25rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 8px 0 0;
}

.u-section-1 .u-text-45 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.u-section-1 .u-social-icons-22 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 19px;
  min-width: 16px;
  margin: 378px auto 0;
}

.u-section-1 .u-icon-22 {
  height: 100%;
}

.u-section-1 .u-image-23 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("https://assets.nicepagecdn.com/6a67b4d8/5263142/images/Picsart_23-06-28_13-25-08-029.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-23 {
  padding: 30px;
}

.u-section-1 .u-text-46 {
  font-size: 1.25rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 8px 0 0;
}

.u-section-1 .u-text-47 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.u-section-1 .u-social-icons-23 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 19px;
  min-width: 16px;
  margin: 378px auto 0;
}

.u-section-1 .u-icon-23 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(4, 25%);
    min-height: 2281px;
  }

  .u-section-1 .u-image-1 {
    background-position: 35.51% 50%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 320px;
  }

  .u-section-1 .u-image-2 {
    background-position: 39.05% 50%;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
  }

  .u-section-1 .u-social-icons-2 {
    margin-top: 320px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-7 {
    width: auto;
  }

  .u-section-1 .u-social-icons-3 {
    margin-top: 320px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-9 {
    width: auto;
  }

  .u-section-1 .u-social-icons-4 {
    margin-top: 320px;
  }

  .u-section-1 .u-image-5 {
    background-position: 43.52% 50%;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-11 {
    width: auto;
  }

  .u-section-1 .u-social-icons-5 {
    margin-top: 320px;
  }

  .u-section-1 .u-image-6 {
    background-position: 61.83% 50%;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-13 {
    width: auto;
  }

  .u-section-1 .u-social-icons-6 {
    margin-top: 320px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-15 {
    width: auto;
  }

  .u-section-1 .u-social-icons-7 {
    margin-top: 320px;
  }

  .u-section-1 .u-image-8 {
    background-position: 43.52% 50%;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-17 {
    width: auto;
  }

  .u-section-1 .u-social-icons-8 {
    margin-top: 320px;
  }

  .u-section-1 .u-image-9 {
    background-position: 37.53% 50%;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-19 {
    width: auto;
  }

  .u-section-1 .u-social-icons-9 {
    margin-top: 320px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-20 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-21 {
    width: auto;
  }

  .u-section-1 .u-social-icons-10 {
    margin-top: 320px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-22 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-23 {
    width: auto;
  }

  .u-section-1 .u-social-icons-11 {
    margin-top: 320px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-24 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-25 {
    width: auto;
  }

  .u-section-1 .u-social-icons-12 {
    margin-top: 320px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-26 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-27 {
    width: auto;
  }

  .u-section-1 .u-social-icons-13 {
    margin-top: 320px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-28 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-29 {
    width: auto;
  }

  .u-section-1 .u-social-icons-14 {
    margin-top: 320px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-30 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-31 {
    width: auto;
  }

  .u-section-1 .u-social-icons-15 {
    margin-top: 320px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-32 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-33 {
    width: auto;
  }

  .u-section-1 .u-social-icons-16 {
    margin-top: 320px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-34 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-35 {
    width: auto;
  }

  .u-section-1 .u-social-icons-17 {
    margin-top: 320px;
  }

  .u-section-1 .u-container-layout-18 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-36 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-37 {
    width: auto;
  }

  .u-section-1 .u-social-icons-18 {
    margin-top: 320px;
  }

  .u-section-1 .u-container-layout-19 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-38 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-39 {
    width: auto;
  }

  .u-section-1 .u-social-icons-19 {
    margin-top: 320px;
  }

  .u-section-1 .u-container-layout-20 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-40 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-41 {
    width: auto;
  }

  .u-section-1 .u-social-icons-20 {
    margin-top: 320px;
  }

  .u-section-1 .u-container-layout-21 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-42 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-43 {
    width: auto;
  }

  .u-section-1 .u-social-icons-21 {
    margin-top: 320px;
  }

  .u-section-1 .u-container-layout-22 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-44 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-45 {
    width: auto;
  }

  .u-section-1 .u-social-icons-22 {
    margin-top: 320px;
  }

  .u-section-1 .u-container-layout-23 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-46 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-47 {
    width: auto;
  }

  .u-section-1 .u-social-icons-23 {
    margin-top: 320px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 6989px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-bottom: initial;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
    margin-bottom: initial;
  }

  .u-section-1 .u-text-7 {
    margin-top: 20px;
    margin-bottom: initial;
  }

  .u-section-1 .u-text-9 {
    margin-top: 20px;
    margin-bottom: initial;
  }

  .u-section-1 .u-text-11 {
    margin-top: 20px;
    margin-bottom: initial;
  }

  .u-section-1 .u-text-13 {
    margin-top: 20px;
    margin-bottom: initial;
  }

  .u-section-1 .u-text-15 {
    margin-top: 20px;
    margin-bottom: initial;
  }

  .u-section-1 .u-text-17 {
    margin-top: 20px;
    margin-bottom: initial;
  }

  .u-section-1 .u-text-19 {
    margin-top: 20px;
    margin-bottom: initial;
  }

  .u-section-1 .u-text-21 {
    margin-top: 20px;
    margin-bottom: initial;
  }

  .u-section-1 .u-text-23 {
    margin-top: 20px;
    margin-bottom: initial;
  }

  .u-section-1 .u-text-25 {
    margin-top: 20px;
    margin-bottom: initial;
  }

  .u-section-1 .u-text-27 {
    margin-top: 20px;
    margin-bottom: initial;
  }

  .u-section-1 .u-text-29 {
    margin-top: 20px;
    margin-bottom: initial;
  }

  .u-section-1 .u-text-31 {
    margin-top: 20px;
    margin-bottom: initial;
  }

  .u-section-1 .u-text-33 {
    margin-top: 20px;
    margin-bottom: initial;
  }

  .u-section-1 .u-text-35 {
    margin-top: 20px;
    margin-bottom: initial;
  }

  .u-section-1 .u-text-37 {
    margin-top: 20px;
    margin-bottom: initial;
  }

  .u-section-1 .u-text-39 {
    margin-top: 20px;
    margin-bottom: initial;
  }

  .u-section-1 .u-text-41 {
    margin-top: 20px;
    margin-bottom: initial;
  }

  .u-section-1 .u-text-43 {
    margin-top: 20px;
    margin-bottom: initial;
  }

  .u-section-1 .u-text-45 {
    margin-top: 20px;
    margin-bottom: initial;
  }

  .u-section-1 .u-text-47 {
    margin-top: 20px;
    margin-bottom: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.125rem;
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.125rem;
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.125rem;
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-10 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.125rem;
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-12 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-13 {
    font-size: 1.125rem;
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-14 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-15 {
    font-size: 1.125rem;
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-16 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-17 {
    font-size: 1.125rem;
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-19 {
    font-size: 1.125rem;
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-20 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-21 {
    font-size: 1.125rem;
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-22 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-23 {
    font-size: 1.125rem;
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-24 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-25 {
    font-size: 1.125rem;
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-26 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-27 {
    font-size: 1.125rem;
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-28 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-29 {
    font-size: 1.125rem;
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-30 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-31 {
    font-size: 1.125rem;
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-32 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-33 {
    font-size: 1.125rem;
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-34 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-35 {
    font-size: 1.125rem;
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-36 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-37 {
    font-size: 1.125rem;
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-38 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-39 {
    font-size: 1.125rem;
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-40 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-41 {
    font-size: 1.125rem;
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-21 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-42 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-43 {
    font-size: 1.125rem;
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-22 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-44 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-45 {
    font-size: 1.125rem;
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-23 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-46 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-47 {
    font-size: 1.125rem;
    margin-bottom: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}